.contact-buttons {
  background-color: rgb(47, 47, 47);
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  transition: transform 0.2s ease;
  border: none;
}

.contact-buttons:hover {
  transform: scale(0.9);
  background-color: rgb(47, 47, 47) !important;
  color: white !important;
}

.vcf-button {
    background-color: rgb(47, 47, 47);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: transform 0.2s ease;
    border: none;
}

.vcf-button:hover {
  transform: scale(0.9);
  background-color: rgb(47, 47, 47) !important;
  color: white !important;
}

.links {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent;
  transition: transform 0.2s ease;
}

.links:hover {
  background-color: #000526ff !important;
  transform: scale(0.9);
}

.links:focus,
.links:active,
.links:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .login-side-info {
    display: none !important;
  }
}
